@import url(./nullstyle.css);
.container {
  font-size: 20px;
}
.list {
  margin: 50px 0 0 50px;
  list-style-type: none;
}
ul li {
  display: flex;
  align-items: center;

  margin: 10px 0 0 30px;
  &:last-child {
    margin-bottom: 10px;
  }
}
ul li input {
  margin: 0 5px 0 0;
}
.btn {
  margin: 30px 0 0 30px;
  font-size: 20px;
  padding: 10px 25px;
  border: 1px solid black;
  border-radius: 5px;
  &:hover {
    background-color: rgb(227, 224, 231);
  }
}

#li {
  display: none;
}
