@import url(./nullstyle.css);
.wrapper {
  width: 100%;
}
.block {
  &__row {
    max-width: 500px;
    width: 100%;
    border: 3px solid greenyellow;
    border-radius: 12px;
    margin: 100px auto 0 auto;
  }
}
.menu {
  &__row {
    display: flex;
    justify-content: space-around;

    font-size: 30px;
    margin: 20px 8px 40px 8px;
  }

  &__name {
    background-color: rgba(241, 236, 236, 0.712);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    transition-duration: 300ms;
    // &:hover {
    //   background-color: rgba(17, 151, 28, 0.897);
    // }
  }
}

.about {
  &__text {
    margin: 0 15px 20px 15px;
    font-size: 20px;
  }
}
